{% extends "base3.html" %}
{% block content %}
{% load static %}

<div class=""   >
<div class="navbar-fixed ">
    <nav class="#263238 blue-grey darken-4">
        <div class="nav-wrapper container">
            <div class="row valign-wrapper space">
                 <a href="{% url 'sent_list' %}">
                 <i class="material-icons" style="font-size: 15px; text-decoration: none; color: #ffffff">chevron_left</i>
                 </a>
                <img src={{recipient.image.url}}
                     width="40px" height="40px"
                     alt="" class="circle">
                <b style="margin-left:20px;
                              font-size: 18px;
                              margin-right:0px;"> {{ recipient.user}}</b>
            </div>
        </div>
    </nav>
</div><br>


<div class="content container ">

    {% for megs in megs %}
    {% if megs.sender == request.user %}
    <div class="right #607d8b blue-grey" style="  text-align: left;
                  border-radius: 25px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">

        <p class=""><b style="font-size: 15px;">{{megs.text}}</b> <font style="color:#fff;
                                                                               margin-left:20px;
                                                                               margin-right:0px;">
            {{megs.timestamp|time }}</font> <i class="right material-icons" style="color:#fff;
                                                                                 font-size: 20px;
                                                                               margin-left:0px;
                                                                               margin-right:0px;">done_all</i></p>

    </div>
    <br><br><br>
    {% else %}
    <div class="left #cfd8dc blue-grey lighten-4" style="  text-align: left;
                  border-radius: 20px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">

        <p class=""><b style="font-size: 15px;">{{megs.text}}</b> <font style="color:#828181;
                                                                               margin-left:20px;
                                                                               margin-right:0px;">
            {{megs.timestamp|time }}</font></p>

    </div>
    <br><br><br>
    {% endif %}
    {% endfor %}
    <br><br>

</div>



<footer>
    <div class="#eceff1 blue-grey lighten-5" style="  position: fixed;
                           left: 0;
                           bottom: 0;
                           text-align: center;
                           width: 100%;
                           border-radius: 20px;
                           ">

        <div class="container">
            <form action="{% url 'send_chat' recipient.user.pk %}" method="POST">
                {% csrf_token %}
                <div class="row valign-wrapper space">
                    <input class="form-control me-2" type="text" placeholder="Type a message" name="chats"
                           value="{{ Chat }}"
                           aria-label="Search" id="chats">
                    <br>
                    <!-- <i class="material-icons right"
                        style="font-size: 30px; padding:10px; color:#3b010f;">photo_library</i>-->
                    <br>
                    <div>
                        <button type="submit" class="btn-floating btn-medium #263238 blue-grey darken-4">
                            <i class="material-icons" style="font-size: 25px;">send</i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

<br>
</footer>
<br>
</div>


{% endblock %}