{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #fffffff;">
<br>
    <h4>Kampus Accounts</h4>
    <h5>Search Results for <b style="color: blue;">{{ query }}</b></h5>

</div>
<ul class="collection">
    {% if account %}
    {% for users in account %}
       <li class="collection-item avatar">
      <a href="{% url 'view_user_profile' users.user.pk %}">
      <img src={{users.image.url}} alt="" class="circle" width="50px" height="50px">
          <span class="title " style="color:#000000;"><b>{{users.user}}</b></span>
      <p  style="color:gray;">{{users.profession}} <br>
         {{users.dept}}
      </p>
      </a>
       <a href="{% url 'chat_page' users.user.pk %}">
        <i class="material-icons secondary-content " style="color:#06bd4c">send</i>
      </a>
    </li>
        {% endfor %}
    {% else %}
    <li> <h4>Not found!!!</h4></li>
    {% endif %}
  </ul>




</div>


{% endblock%}