{% extends "nav.html" %}
{% block content %}
{% load static %}
       <br>

    <div class="container #3e2723 brown darken-4" style="  text-align: left;
                  border-radius: 40px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
        <div class="center">
            <font color="white" style="font-size: 30px;"><b>{{ users.count }} </b> Kampus Users </font><br>

        </div>
    </div>

       <br>
<div class="">
    {% if users %}
    <table class="striped">
        <thead>
          <tr>
              <th>S/N</th>
              <th>User</th>
              <th>Profession</th>
              <th>Staff status</th>
              <th>View profile</th>
              <th></th>
          </tr>
        </thead>

        <tbody style="font-size: 20px;">
        {% for users in users %}
          <tr>
            <td><b>{{forloop.counter}}</b></td>
            <td>{{users.user}}</td>
            <td>{{users.profession}}</td>
            <td>
                {% if users.is_staff %}
                <font class="chip #00c853 green accent-4" style="color:white;"> True </font>
                {% else %}
                <font class="chip #00c853 red accent-4" style="color:white;"> False </font>
                {% endif %}

            </td>
            <td>
              <a href="{% url 'user_details' users.user.pk %}">
                <font class="chip #00c853 green accent-4" style="color:white;"> User Details </font>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="center"> <font color="black" style="font-size: 30px;"><b> No Users yet !!! </b></font> </div>
    {% endif %}
   </div>
{% endblock %}