{% extends "nav.html" %}
{% block content %}
{% load static %}
       <br>

    <div class="container #3e2723 brown darken-4" style="  text-align: left;
                  border-radius: 40px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
        <div class="center">
            <font color="white" style="font-size: 30px;"><b>{{ rpay.count }} </b> Payment Request </font>


        </div>
    </div>

       <br>
<div class="">
    {% if rpay %}
    <table class="striped">
        <thead>
          <tr>
              <th>S/N</th>
              <th>User</th>
              <th>Request Amount</th>
              <th>Status </th>
              <th>Request time </th>
              <th></th>
          </tr>
        </thead>

        <tbody style="font-size: 20px;">
        {% for r in rpay %}
          <tr>
            <td><b>{{forloop.counter}}</b></td>
            <td>{{r.user}}</td>
            <td>₦ {{r.Amount}}</td>
              <td><font class="chip #d50000 red accent-4" style="color:white;"> Pending... </font></td>
               <td>{{r.timestamp}}</td>
            <td>
                 <a href="{% url 'request_detail' r.pk %}">
                <font class="chip #00c853 green accent-4" style="color:white;"> Request Details </font>
                 </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

    <div class="center"> <font color="black" style="font-size: 30px;"><b> No Payment Request !!! </b></font> </div>


    {% endif %}

</div>
{% endblock %}