{% extends "nav.html" %}
{% block content %}
{% load static %}
<br>
<div class="container" align="center">
<div class="center #3e2723 brown darken-4" style="  text-align: left;
                  border-radius: 40px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
    <div class="center">
        <font color="white" style="font-size: 30px;"><b style="color: gray;"> {{user_p.user}}</b> Profile Detail </font>
    </div>
</div>
<br>

<div class="center #e0e0e0 grey lighten-2" style="  text-align: left;
                  border-radius: 40px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
    <div class="center">
        <div class="" align="center">

            <div class="col">
                <img src={{user_p.image.url}} alt="..." width="120" height="120"
                     class="circle"><br>
                <b><font style="color: #000000; font-size: 20px;">{{user_p.user}}</font></b><br>
                <b><font style="color: #515152; font-size: 15px;">{{user_p.profession}}</font></b>
                <div class=" " align="center">
                    <font color="black"> {{ user_p.full_name }} </font></b><br>
                    <b><font color="black"> ({{ user_p.dept }}) </font>
                        <font color="black"> {{ user_p.school }} </font></b><br>
                    <h5><font color="black" >Mobile contact: {{ user_p.phone }} </font></h5><br>
                <br>
                 <a href="{% url 'chat_page' user_p.user.pk %}">
                <font class="chip #00c853 pink accent-4" style="color:white;"> Message </font>
                 </a>
              <br>
                    <font color="black"> Created on {{ user_p.join }} </font></b><br>
                </div>
            </div>



                 <div class="center #aa00ff accent-4" style="  text-align: left;
                  border-radius: 30px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
                <div class="center">
                     <div class="container" align="center">

            <table align="center">

                <tbody>
                <tr>
                    <td>
                        <a href="">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{posts.count}}</b> <br> Posts </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followers' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.follower.count }}</b> <br>
                                    Followers </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followings' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.following.count }}</b> <br>
                                    Following </font>
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

                </div>
            </div>
                 </div><br>


            <div class="center #aa00ff accent-4" style="  text-align: left;
                  border-radius: 30px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
                <div class="center">
                    <font color="black" style="font-size: 20px;"> <b class="row valign-wrapper"> Earning details</b>  </font>
                    <div>
                         <font color="blue" style="font-size: 30px;"> Total Likes: {{ total_like }}</font><br>
                        <font color="purple"  style="font-size: 30px;"> User Wallet: ₦ {{ wallet }}</font><br>
                        <font color="black" style="font-size: 30px;"> Total amount paid to user: ₦  {{ payment.paid }}</font><br>

                    </div>
                </div>
            </div>
            <br>
            <div class="center #aa00ff accent-4" style="  text-align: left;
                  border-radius: 30px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
                <div class="center">
                    <font color="black" style="font-size: 20px;"> <b class="row valign-wrapper"> Account details <i
                            class="material-icons" style="font-size: 30px;">account_balance_bank </i>  </b>
                     </font>
                    <div>
                        <font color="blue" style="font-size: 30px;"> Account No.: {{ payment.account_number}}</font><br>
                        <font color="black" style="font-size: 30px;"> Account Name.: {{ payment.account_name}}</font><br>
                        <font color="black" style="font-size: 30px;"> Bank.: {{ payment.bank}}</font><br>

                    </div>
                </div>
            </div>
        </div>
    </div><br>
</div>
<br>
                <div class="center #aa00ff accent-4" style="  text-align: left;
                  border-radius: 30px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
    <div class="content" style="background-color: gray;">


        <br>
<div class="container" align="center">
<div class="center #3e2723 brown darken-4" style="  text-align: left;
                  border-radius: 40px;
                  bottom: 0;
                  padding: 10px;
                  background-color: #f2f0f0;">
    <div class="center">
        <font color="white" style="font-size: 30px;"><b style="color: gray;"> {{user_p.user}}</b> Posts </font>
    </div>
</div>
<br>



    <div class="" align="center">
        {% if posts %}
            {% for posts in posts %}
            <div style="background-color: #ffffff;">
                <br>
                <div class="space">
                    <div class="">
                        <b>{{ posts.caption}}</b>
                    </div>
                    {% if posts.file.url|slice:"-4:" == ".mp4" %}
                    <video class="responsive-video" controls>
                        <source src={{posts.file.url}} type="video/mp4" style="max-width: 100%;">
                    </video>
                    {% else %}
                    <img class="responsive-img" src={{posts.file.url}} style="max-width: 100%;">
                    {% endif %}
                </div>
                <br>
                <div class="row valign-wrapper">
                    <div class="col s15">
                  {% if user in posts.like.all%}
                <a href="{% url 'like' posts.pk %}">
                 <i class="material-icons" style="font-size: 30px; text-decoration: none; color: red;">favorite</i>
                </a>
                {% else %}
                 <a href="{% url 'like' posts.pk %}">
                    <i class="material-icons" style="font-size: 30px; text-decoration: none; color: #292929">favorite_border</i>
                </a>
                {% endif %}
                    </div>


                    <div class="col s15">
                        <a href="{% url 'comment_view' posts.pk %}">
                            <i class="material-icons" style="font-size: 30px;  text-decoration: none; color: #292929">comment</i>
                        </a>
                    </div>

                    <div class="col s15">
                        <a href="{% url 'chat_page' posts.user.pk %}">
                            <i class="material-icons" style="font-size: 30px; text-decoration: none; color: #292929">send</i>
                        </a>
                    </div>

            <div class="col s1">
                <a href="{{posts.file.url}}" class="pull-right" download>
                <i class="material-icons right" style="font-size: 30px; text-decoration: none; color: #292929">file_download</i>
                    </a>
            </div>

                </div>

                <div class="row valign-wrapper">
            <div class="col s15">
                <a href="{% url 'likes' posts.pk %}">
                <b style="color: black;">{{posts.like.count}} likes</b>
                </a>
            </div>

                    <div class="col s15">
                        <a href="{% url 'comment_view' posts.pk %}">
                            <p><font color="gray">View 200 comments</font></p>
                        </a>
                    </div>
                </div>
                <!-- <div class="container">
                    comments....
                 </div>-->

                <div class="row valign-wrapper">
                    <div class="col s15">
                        <img src={{profile.image.url}}
                             width="30px"
                             alt="" class="circle">
                    </div>

                    <div class="col s15 chip">
                        <p><font color="gray">Add a comment...</font></p>
                    </div>
                  <a href="{% url 'delete_post' posts.pk %}">
                    <div class="col s15 chip">
                        <p><font color="red">Delete</font></p>
                    </div>
                  </a>
                    <br>
                    <div class="col s4">
                        <p class="right"><font color="gray">{{posts.timestamp|date:"D d M Y" }}</font></p>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% else %}

            <h2><b>{{user.username}} you haven't created any Post Yet!!!</b></h2>
            {% endif %}

    </div>
    </div>
                </div>
</div>
        {% endblock %}