{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #ffffff;">
  <div class="container">
    <br>
   <div align="center" >
       <h4><font color="#850785"><i class="material-icons right" style="font-size: 30px;">book</i>Create New Article</font></h4><br>
    <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
        <br>
    <button type="submit" class="btn-floating btn-large #ba68c8 purple lighten-2 pulse right"><i class="material-icons right" style="font-size: 30px;">
      check</i></button>
  </form>
  <br>

  </div>
</div>
</div>
   {%endblock%}