{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #fffffff;">
    <br>
<div class="container">
<div align="center">
    <h4>The Student Guardian </h4>
    <h5>Search Result for <b style="color: blue;">{{query}}</b></h5>

</div><br>


</div>
<ul class="collection">
{%  if article %}
    {% for article in article %}
       <li class="collection-item">

       {%  if article.image%}
        <a href="" class="secondary-content"><img class="responsive-img" src={{article.image.url}} style=" width: 100px;"></a>
       {% else %}
       {% endif %}
           <a href="{% url 'articles_details' article.pk %}">
          <span class="title " style="color:#000000;"><b>{{article.title}}</b></span>
      <p  style="color:#000000;">{{article.body}} <br>
          <b>written by: {{article.user}}</b>
      </p>
      </a> </li>
        {% endfor %}
    {%  else %}
<li>
    <h5>No Article Found !!</h5>
</li>
    {%  endif %}

  </ul>





</div>


{% endblock%}