<!doctype html>
{% load static %}
{% load pwa %}

<html lang="en">
  <head>
    {% progressive_web_app_meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">

     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import local css-->

     <link rel="stylesheet" href="{% static 'css/tab.css' %}" type="text/css">
     <link rel="icon" href="{% static 'images/logo.png' %}" type="image/lxx-icon" >

    <title>Kampus</title>
  </head>
  <body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
</script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'top',
      hoverEnabled: false
    });
  });
  </script>
  <div class="fixed-action-btn">
  <a class="btn-floating btn-large #e53935 red darken-1">
    <i class="large material-icons" style="font-size:30px;">menu</i>
  </a>
  <ul>
    <li><a href="{% url 'index' %}" class="btn-floating red"><i class="material-icons">home</i></a></li>
    <li><a href="{% url 'received_list' %}" class="btn-floating red"><i class="material-icons">chat</i></a></li>
    <li><a href="{% url 'post' %}" class="btn-floating btn-large #880e4f pink darken-4 darken-1"><i class="center material-icons" style="font-size:35px;">add_circle_outline</i></a></li>
    <li><a href="{% url 'discover_account' %}" class="btn-floating #0d47a1 blue darken-4"><i class="material-icons">explore</i></a></li>
    <li><a href="{% url 'user_profile' %}" class="btn-floating #0d47a1 blue darken-4"><i class="material-icons">account_circle</i></a></li>
  </ul>
</div>
    {% block content %} {%endblock%}

   <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% block javascript %}

  {% endblock javascript %}
  </body>
</html>