<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import local css-->
     <link rel="stylesheet" href="{% static 'css/tab.css' %}" type="text/css">
     <link rel="icon" href="{% static 'images/logo.png' %}" type="image/lxx-icon" >

    <title>Kampus</title>
  </head>
  <body>
    {% block content %} {%endblock%}

   <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>



  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>

<input style="color:yellow" id="token" name="token"/>
<p style="color:blue" id="msg"></p>
<p style="color:green" id="notis"></p>
<p style="color:red" id="err"></p>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-messaging.js"></script>
<script>
        MsgElem = document.getElementById("msg");
        TokenElem = document.getElementById("token");
        NotisElem = document.getElementById("notis");
        ErrElem = document.getElementById("err");

        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet

         var config  = {
    apiKey: "AIzaSyDrZRgm_9-xauyre5flvN_KxLLYqQ8MCv0",
    authDomain: "kampus-305500.firebaseapp.com",
    projectId: "kampus-305500",
    storageBucket: "kampus-305500.appspot.com",
    messagingSenderId: "968358554586",
    appId: "1:968358554586:web:f22fed2afe90864b5d6ee3",
    measurementId: "G-5FE0JQ1XEE"
  };
        firebase.initializeApp(config);

        const messaging = firebase.messaging();
        messaging
            .requestPermission()
            .then(function () {
                MsgElem.innerHTML = "Notification permission granted."
                console.log("Notification permission granted.");

                // get the token in the form of promise
                return messaging.getToken()
            })
            .then(function(token) {
                TokenElem.innerHTML = "token is : " + token
            })
            .catch(function (err) {
                ErrElem.innerHTML =  ErrElem.innerHTML + "; " + err
                console.log("Unable to get permission to notify.", err);
            });

    </script>
  </body>
</html>