{% extends "baseform.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #ffffff;">
  <div class="container">
    <br>
   <div align="center " >  <img alt="..." class="rounded-circle"
          height="70dp" src="{% static 'images/logo.png' %}" width="70dp"></a></div><br>
    <h4><font color="#850785">Kampus Profile</font></h4><br>
    <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
        <br>
    <button type="submit"
             id = 'btn1' style="display:block;" onclick="myFunction()"
            class="btn-floating btn-large #ba68c8 purple lighten-2 right">
        <i class="material-icons right" style="font-size: 30px;">
      check</i></button>

        <a type="submit"
             id = 'btn2' style="display:none;"
            class="btn-floating btn-large #ba68c8 purple lighten-2 pulse right">
        <i class="material-icons right" style="font-size: 30px;">
      check</i></a>
  </form>
  <br>
    <h5 id = 'btn3' style="display:none;">
        Creating Profile......
    </h5>
  </div>
</div>

  <script>

function myFunction() {
      var btn1 = document.getElementById('btn1')
      var btn2 = document.getElementById('btn2')
      var btn3 = document.getElementById('btn3')
      btn1.style.display = "none"
      btn2.style.display = "block"
      btn3.style.display = "block"
}

 </script>


   {%endblock%}