{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #fffffff;">
    <br>
    <div class="container">
        <div align="center">
            <a href="{% url 'discover_account' %}"> <font class="chip waves-effect waves-light">Discover Accounts</font></a>
            <a href="{% url 'discover_post' %}"> <font class="chip #ce93d8 purple lighten-3 waves-effect waves-light">Discover
                Posts</font></a>
        </div>
        <br>
        <div class="#e8f5e9 green lighten-5" style="
                          text-align: center;
                           width: 100%;
                           border-radius: 25px;
                           ">

            <div class="container">
                <form action="{% url  'search_discover_post' %}" method="GET">
                    {% csrf_token %}
                    <div class="row valign-wrapper space">
                        <input class="form-control me-2" type="search" placeholder="search for Post or username"
                               name="post"
                               value="{{ acct }}"
                               aria-label="Search" id="post">
                        <br>
                        <!-- <i class="material-icons right"
                            style="font-size: 30px; padding:10px; color:#3b010f;">photo_library</i>-->
                        <br>
                        <div>
                            <button type="submit" class="N/A transparent" style="border: 0px;">
                                <i class="material-icons" style="font-size: 25px;">search</i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <h5>Trending videos</h5>

    {% if posts %}
     <div class="row" style="padding:5px;" >
        {% for posts in posts %}
        {% if posts.like.count >= trending.likes %}
                <div class="col" style="padding:2px;">
                   {% if posts.find_typecheck == 2 %}
                  <a href="{% url 'comment_view' posts.pk %}">
                <i class="material-icons left" style="margin-left:4px; margin-top:4px; color:#fff5fa; font-size: 30px; position: absolute; ">play_circle_outline</i>
                    <img class="" src="https://fra1.digitaloceanspaces.com/kampusstorage/media/media/Post_thumbnail/{{posts.pk}}.jpg" style="width: 110px; height:110px">
                  </a>
                {% elif posts.find_typecheck == 1 %}
                <a href="{% url 'comment_view' posts.pk %}">
                <i class="material-icons left" style="margin-left:4px; margin-top:4px; color:#fff5fa; font-size: 30px; position: absolute;">photo</i>
                 <img class="" src={{posts.file.url}} style="width: 110px; height:110px">
                </a>
                {% endif %}
                </div>


        {% endif %}
        {% endfor %}
        {% else %}
        <h2><b>No Posts has been created Yet!!</b></h2>
    </div>
    {% endif %}

</div>


{% endblock%}