{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #fffffff;">
    <br>
    <div class="container">
        <div align="center">
            <a href="{% url 'discover_account' %}"> <font
                    class="chip #ce93d8 purple lighten-3 waves-effect waves-light">Discover Accounts</font></a>
            <a href="{% url 'discover_post' %}"> <font class="chip waves-effect waves-light">Discover Posts</font></a>
        </div>
        <br>
        <div class="#e8f5e9 green lighten-5" style="
                          text-align: center;
                           width: 100%;
                           border-radius: 25px;
                           ">

            <div class="container">
                <form action="{% url 'search_discover_account' %}" method="GET">
                    {% csrf_token %}
                    <div class="row valign-wrapper space">
                        <input class="form-control me-2" type="search" placeholder="school,phone,username,skill,dept."
                               name="acct"
                               value="{{ acct }}"
                               aria-label="Search" id="acct">
                        <br>
                        <!-- <i class="material-icons right"
                            style="font-size: 30px; padding:10px; color:#3b010f;">photo_library</i>-->
                        <br>
                        <div>
                            <button type="submit" class="N/A transparent" style="border: 0px;">
                                <i class="material-icons" style="font-size: 25px;">search</i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="material-icons">people</i>Recommended based on profession</div>
            <div class="collapsible-body">
                <ul class="collection">
                    {% for prof in prof %}
                    {% if user in prof.follower.all%}
                    {% else %}
                    <li class="collection-item avatar">
                        <a href="{% url 'view_user_profile' prof.user.pk %}">
                            <img src={{prof.image.url}} alt="" class="circle" width="50px" height="50px">
                            <span class="title " style="color:#000000;"><b>{{prof.user}}</b></span>
                            <p style="color:gray;">{{prof.profession}} <br>
                                {{prof.dept}}
                            </p>
                        </a>
                    <a onclick="myFollow({{prof.user.pk}});" id="{{prof.user.pk}}"
                   class=" waves-light btn secondary-content #1565c0 blue darken-1" >Follow</a>
         <script>
        function myFollow(prof_user_pk) {
       console.log(prof_user_pk);
       $.ajax({type: "GET",
        url: "{% url 'follow' %}",
        data: {
            "pk": prof_user_pk
        },
        dataType: "json",
        success: function (data) {
            // any process in data
            console.log(data);
            if (data.followed) {
            console.log("followed");
            M.toast({html: 'Account followed !'})
                //$('#product-'+product).fadeOut;
            var el_follow = document.getElementById(prof_user_pk)
            el_follow.innerHTML = "unfollow";
            }
           if (data.unfollowed) {
              console.log("unfollowed");
              M.toast({html: 'Account unfollowed !'})
            var el_follow = document.getElementById(prof_user_pk)
            el_follow.innerHTML = "follow";

            }

        },
        failure: function () {
            console.log("failure");
        }
 });
 }
 </script>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Recommended based on Dept.</div>
            <div class="collapsible-body">
                    <ul class="collection">
                    {% for depts in depts %}
                    {% if user in depts.follower.all%}
                    {% else %}
                    <li class="collection-item avatar">
                        <a href="{% url 'view_user_profile' depts.user.pk %}">
                            <img src={{depts.image.url}} alt="" class="circle" width="50px" height="50px">
                            <span class="title " style="color:#000000;"><b>{{depts.user}}</b></span>
                            <p style="color:gray;">{{depts.profession}} <br>
                                {{depts.dept}}
                            </p>
                        </a>
                        <a onclick="myFollow({{depts.user.pk}});" id="{{depts.user.pk}}"
                   class=" waves-light btn secondary-content #1565c0 blue darken-1" >Follow</a>
         <script>
        function myFollow(depts_user_pk) {
       console.log(depts_user_pk);
       $.ajax({type: "GET",
        url: "{% url 'follow' %}",
        data: {
            "pk": depts_user_pk
        },
        dataType: "json",
        success: function (data) {
            // any process in data
            console.log(data);
            if (data.followed) {
            console.log("followed");
            M.toast({html: 'Account followed !'})
                //$('#product-'+product).fadeOut;
            var el_follow = document.getElementById(depts_user_pk)
            el_follow.innerHTML = "unfollow";
            }
           if (data.unfollowed) {
              console.log("unfollowed");
              M.toast({html: 'Account unfollowed !'})
            var el_follow = document.getElementById(depts_user_pk)
            el_follow.innerHTML = "follow";

            }

        },
        failure: function () {
            console.log("failure");
        }
 });
 }
 </script>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Trending</div>
            <div class="collapsible-body">
                <ul class="collection">

                    {% for trendings in trendings %}
                    {% if trendings.follower.count >= trending.follower %}
                       {% if user in trendings.follower.all%}
                       {% else %}
                    <li class="collection-item avatar">
                        <a href="{% url 'view_user_profile' trendings.user.pk %}">
                            <img src={{trendings.image.url}} alt="" class="circle" width="50px" height="50px">
                            <span class="title " style="color:#000000;"><b>{{trendings.user}}</b></span>
                            <p style="color:gray;">{{trendings.profession}} <br>
                                {{trendings.dept}}
                            </p>
                        </a>
                    <a onclick="myFollow({{trendings.user.pk}});" id="{{trendings.user.pk}}"
                   class=" waves-light btn secondary-content #1565c0 blue darken-1" >Follow</a>
         <script>
        function myFollow(trendings_user_pk) {
       console.log(trendings_user_pk);
       $.ajax({type: "GET",
        url: "{% url 'follow' %}",
        data: {
            "pk": trendings_user_pk
        },
        dataType: "json",
        success: function (data) {
            // any process in data
            console.log(data);
            if (data.followed) {
            console.log("followed");
            M.toast({html: 'Account followed !'})
                //$('#product-'+product).fadeOut;
            var el_follow = document.getElementById(trendings_user_pk)
            el_follow.innerHTML = "unfollow";
            }
           if (data.unfollowed) {
              console.log("unfollowed");
              M.toast({html: 'Account unfollowed !'})
            var el_follow = document.getElementById(trendings_user_pk)
            el_follow.innerHTML = "follow";

            }

        },
        failure: function () {
            console.log("failure");
        }
 });
 }
 </script>
                    </li>
                      {% endif %}
                    {% endif %}
                    {% endfor %}


                </ul>

            </div>
        </li>
        <li class="active">
            <div class="collapsible-header"><i class="material-icons">account_box</i>Accounts</div>
            <div class="collapsible-body">
                <ul class="collection">

                    {% for account in account %}
                       {% if user in account.follower.all%}
                       {% else %}
                    <li class="collection-item avatar">
                        <a href="{% url 'view_user_profile' account.user.pk %}">
                            <img src={{account.image.url}} alt="" class="circle" width="50px" height="50px">
                            <span class="title " style="color:#000000;"><b>{{account.user}}</b></span>
                            <p style="color:gray;">{{account.profession}} <br>
                                {{account.dept}}
                            </p>
                        </a>
                        <a onclick="myFollow({{account.user.pk}});" id="{{account.user.pk}}"
                           class=" waves-light btn secondary-content #1565c0 blue darken-1" >Follow</a>
         <script>
        function myFollow(account_user_pk) {
       console.log(account_user_pk);
       $.ajax({type: "GET",
        url: "{% url 'follow' %}",
        data: {
            "pk": account_user_pk
        },
        dataType: "json",
        success: function (data) {
            // any process in data
            console.log(data);
            if (data.followed) {
            console.log("followed");
            M.toast({html: 'Account followed !'})
                //$('#product-'+product).fadeOut;
            var el_follow = document.getElementById(account_user_pk)
            el_follow.innerHTML = "unfollow";
            }
           if (data.unfollowed) {
              console.log("unfollowed");
              M.toast({html: 'Account unfollowed !'})
            var el_follow = document.getElementById(account_user_pk)
            el_follow.innerHTML = "follow";

            }

        },
        failure: function () {
            console.log("failure");
        }
 });
 }
 </script>

                    </li>
                      {% endif %}
                    {% endfor %}

                </ul>

            </div>
        </li>
    </ul>
</div>



{% endblock%}

{% block javascript %}

{% endblock javascript%}