{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #ffffff;">
    <div class="container">
         <br>
    <h5>Make changes to your Full name</h5><br>

           <div style="">
            <form action="{% url 'name' %}" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="text" placeholder="full name" name="name"
                       value="{{ name }}"
                       aria-label="Search" id="name">
                <br>
                <button type="submit" class="btn-floating btn-medium cyan pulse right"><i
                        class="material-icons right"
                        style="font-size: 20px;">
                        save</i></button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

