{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #fffffff;">
<br>
    <h5>Search Results for <b style="color: blue;">{{ query }}</b></h5>

</div>
{% if posts %}
    {% for posts in posts %}
    <div style="background-color: #ffffff;">
        <br>
        <div class="row valign-wrapper space">
            <div class="col s15">
                <a href="{% url 'view_user_profile' posts.user.pk %}">
                <img src={{posts.user.owner.image.url}}
                     width="50px" height="50px"
                     alt="" class="circle">
                </a>
            </div>
            <div class="col s16">
                <b>{{ posts.user}}</b>
                <p><font color="#9e9e9e">{{ posts.user.owner.profession}}</font></p>
            </div>
        </div>

        <div class="space">
            <div class="">
            <b>{{ posts.caption}}</b>
            </div>
            {% if posts.file.url|slice:"-4:" == ".mp4" %}
                   <video class="responsive-video" controls="controls" poster="{{ MEDIA_URL }}/media/media/Post_thumbnail/{{posts.pk}}.jpg">

                        <source src="{{posts.file.url}}" type="video/mp4" style="max-width: 100%;">

                    </video>
            {% else %}
            <img class="responsive-img" src={{posts.file.url}} style="max-width: 100%;">
            {% endif %}
        </div>
          <br>
                <div class="row valign-wrapper">
                    <div class="col s15">

                        {% if user in posts.like.all%}

                            <i id="unlike{{posts.pk}}" class="material-icons" onclick="myFunction({{posts.pk}});"
                               style="font-size: 30px;  color: red;">favorite</i>

                        {% else %}

                            <i  id="{{posts.pk}}" class="material-icons" onclick="myFunction({{posts.pk}});"
                               style="font-size: 30px; text-decoration: none; color: #292929">favorite</i>

                        {% endif %}

        <script>
        function myFunction(posts_pk) {
       console.log(posts_pk);
       $.ajax({type: "GET",
        url: "{% url 'like' %}",
        data: {
            "pk": posts_pk
        },
        dataType: "json",
        success: function (data) {
            // any process in data
            console.log(data);
            if (data.liked) {
            console.log("likeeeeeeeeeeee");
            M.toast({html: 'post liked !'})
                //$('#product-'+product).fadeOut;
            var el_like = document.getElementById(posts_pk)
            el_like.style.color = "red";
            }
           if (data.unliked) {
              console.log("unlikeeeeeeeeeeee");
              M.toast({html: 'post unliked !'})
              var el_like = document.getElementById(posts_pk)
              el_like.style.color = "#292929";

            }

        },
        failure: function () {
            console.log("failure");
        }
 });
 }
 </script>
</div>
            <div class="col s15">
                <a href="{% url 'comment_view' posts.pk %}">
               <i class="material-icons" style="font-size: 30px;  text-decoration: none; color: #292929" >comment</i>
                </a>
            </div>

             <div class="col s15">
               <a href="{% url 'chat_page' posts.user.pk %}">
               <i class="material-icons" style="font-size: 30px; text-decoration: none; color: #292929" >send</i>
               </a>
            </div>

                    <div class="col s1">
                        <a href="{{posts.file.url}}" class="pull-right" download>
                            <i class="material-icons right"
                               style="font-size: 30px; text-decoration: none; color: #292929">file_download</i>
                        </a>
                    </div>

        </div>

         <div class="row valign-wrapper">
            <div class="col s15">
                <a href="{% url 'likes' posts.pk %}">
                <b style="color: black;">{{posts.like.count}} likes</b>
                </a>
            </div>

            <div class="col s15">
                <a href="{% url 'comment_view' posts.pk %}">
                <p> <font color="gray">View comments</font></p>
                </a>
            </div>
         </div>
       <!-- <div class="container">
           comments....
        </div>-->

        <div class="row valign-wrapper">
             <div class="col s15">
                 <img src={{profile.image.url}}
                     width="30px" height="30px"
                     alt="" class="circle responsive-img">
            </div>

            <div class="col s15 chip">
                <p> <font color="gray">Add a comment...</font></p>
            </div><br>
            <div class="col s4">
               <p class="right"> <font color="gray">{{posts.timestamp|date:"D d M Y" }}</font></p>
            </div>
         </div>

    </div>
    {% endfor %}
    {% else %}
    <h2><b>Not Found !!!</b></h2>
    {% endif %}






</div>


{% endblock %}