{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #fffffff;">
<div class="container">
    <h4>Kampus Accounts </h4>
    <h5>Search Results for <b style="color: blue;">{{ query }}</b></h5>

</div>
<ul class="collection">
    {% if account %}
    {% for users in account %}
       <li class="collection-item avatar">
      <a href="{% url 'view_user_profile' users.user.pk %}">
      <img src={{users.image.url}} alt="" class="circle">
          <span class="title " style="color:#000000;"><b>{{users.user}}</b></span>
      <p  style="color:gray;">{{users.profession}} <br>
         {{users.dept}}
      </p>
      </a>
        {%  if user in users.follower.all%}
           <a href="{% url 'unfollow' users.user.pk %}" class="waves-effect waves-light btn secondary-content #bbdefb blue lighten-3">Unfollow</a>
       {% else %}
           <a href="{% url 'follow' users.user.pk %}" class="waves-effect waves-light btn secondary-content #1565c0 blue darken-1">Follow</a>
       {% endif %}
    </li>
        {% endfor %}
    {% else %}
    <li> <h4>Not found!!!</h4></li>
    {% endif %}
  </ul>




</div>


{% endblock%}