{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #ffffff;">

      <ul class="collection">
      <li class="collection-item"><a href="{% url 'logout' %}">Logout Account</a></li>
      <li class="collection-item"><a href="{% url 'feedback' %}" style="color:black;">Send Feedback to Kampus</a></li>
          <li class="collection-item"><a href="{% url 'about' %}" style="color:black;">About Kampus </a></li>
    </ul>

</div>

{% endblock content %}