{% extends "base_profile.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #ffffff;">

    <div class="" align="center">
        <br>
          <div class="">
              <a href="{% url 'user_info' %}">
            <i class="right material-icons" style="font-size:32px; color:black;">more_vert</i>
              </a>
        <br><br>
          </div>
        {% for user_p in user_p %}

        <div class="col">
            <a  href="{% url 'profile_image_view' user_p.user.pk %}">
            <img src={{user_p.image.url}} alt="..." width="120" height="120"
                 class="circle"></a><br>
            <b><font style="color: #000000; font-size: 20px;">{{user_p.full_name}}</font></b><br>
            <b><font style="color: #515152; font-size: 15px;">{{user_p.profession}}</font></b>
            <div class=" " align="center">
                <b><font color="black"> ({{ user_p.dept }}) </font>
                    <font color="black"> {{ user_p.school }} </font></b><br>
                <!--<font color="#1f011f"><b>Call</b> {{user_p.phone}} </font><br>-->

            </div>

        </div>
        <br>
        <div class="container" align="center">

            <table align="center">

                <tbody>
                <tr>
                    <td>
                        <a href="">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{posts.count}}</b> <br> Posts </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followers' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.follower.count }}</b> <br>
                                    Followers </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followings' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.following.count }}</b> <br>
                                    Following </font>
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <table align="center">

                <tbody>
                <tr>
                    <td>
                        <a href="">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b> {{total_like}}  <br>
                                    Total Likes</b></font>
                            </div>
                        </a>
                    </td>
                    <td>

                    </td>

                </tr>
                </tbody>
            </table>

            <br>
            <div class="center">
                <div class="row valign-wrapper">
                   <div class="" style="margin-left:20px;">
                    <a href="{% url 'edit_profile' %}" style="" class="#1565c0 blue darken-1 btn">Edit<i
                            class="material-icons left" style="font-size: 30px;">people</i></a>
                   </div>
                            <div class="" style="margin-left:20px;">
                                <a href="{% url 'user_earning' %}" style="" class="#aa00ff purple accent-4 btn">Earning
                                    <i class="material-icons left" style="font-size: 30px;">account_balance_wallet </i></a>
                            </div>

                </div>

            </div>
            <br>
        </div>

            </div>
      <div class="center">
            {% if posts %}
            <div class="row" style="padding:5px;" >
            {% for posts in posts %}
                <div class="col" style="padding:2px;">
                    {% if posts.find_typecheck == 2 %}
                  <a href="{% url 'comment_view' posts.pk %}">
                <i class="material-icons left" style="margin-left:4px; margin-top:4px; color:#fff5fa; font-size: 30px; position: absolute; ">play_circle_outline</i>
                    <img class="" src="https://fra1.digitaloceanspaces.com/kampusstorage/media/media/Post_thumbnail/{{posts.pk}}.jpg" style="width: 110px; height:110px">
                  </a>
                {% elif posts.find_typecheck == 1 %}
                <a href="{% url 'comment_view' posts.pk %}">
                <i class="material-icons left" style="margin-left:4px; margin-top:4px; color:#fff5fa; font-size: 30px; position: absolute;">photo</i>
                 <img class="" src={{posts.file.url}} style="width: 110px; height:110px">
                </a>
                {% endif %}
                </div>

            {% endfor %}
            </div>
            {% else %}

            <h4><b>{{user.username}} you haven't created any Post Yet!!!</b></h4>
            {% endif %}
        </div>
       </div>

{% endfor%}

<p style="color:blue; display:none;" id="msg"></p>
<p style="color:blue; display:none;" id="token"></p>
<p style="color:green; display:none;" id="notis"></p>
<p style="color:red; display:none;" id="err"></p>


{% endblock %}

{% block javascript %}

<script>
        MsgElem = document.getElementById("msg");
        TokenElem = document.getElementById("token");
        NotisElem = document.getElementById("notis");
        ErrElem = document.getElementById("err");

        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet

var firebaseConfig = {
    apiKey: "AIzaSyBXBYaToCdIQOkVHPuBzO2VWimr-jh2yrg",
    authDomain: "kampus-52a9f.firebaseapp.com",
    projectId: "kampus-52a9f",
    storageBucket: "kampus-52a9f.appspot.com",
    messagingSenderId: "576665983294",
    appId: "1:576665983294:web:25c4323279412c349af46f",
    measurementId: "G-5X0VH0R9GV"
  };
     firebase.initializeApp(firebaseConfig);
     firebase.analytics();

        const messaging = firebase.messaging();

        // Receive messages
     // messaging.onMessage((payload) => {
     // console.log('Message received. ', payload);
      // ...
    // });


      messaging.usePublicVapidKey('BA515hrbYgT-oqfRhCon0CJIyjzU_ivliKX6Q9G93dhIGVXZfK9KkI2pT-lvmd-ZFmGTKv_2UkuoDlM-ZFlk0vk');
        messaging
            .requestPermission()
            .then(function () {
                MsgElem.innerHTML = "Notification permission granted."
                console.log("Notification permission granted.");
                // get the token in the form of promise
                return messaging.getToken()
            })
            .then(function(token) {
                TokenElem.innerHTML = 'token is : ' + token
                console.log('token is :' + token);
                console.log('Sending token to server...');
                // TODO(developer): Send the current token to your server.
        $.ajax({
        type: "GET",
        url: '{% url 'fcm_token' %}',
        data: {
            "token": token,
        },
        dataType: "json",
        success: function (token) {
            // any process in data
            console.log('successfull')
        },
        failure: function () {
            console.log("failure");
        }
    });

        })
            .catch(function (err) {
                ErrElem.innerHTML =  ErrElem.innerHTML + "; " + err
                console.log("Unable to get permission to notify.", err);
            });



</script>
{% endblock javascript %}


