{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #ffffff;">
<br>
    {% for user_p in user_p %}
          <div class="">
              <a href="{% url 'user_info' %}">
            <b class="left" style="margin-left:20px; font-size:25px; color:black;">{{user_p.user}}</b>
              </a>
        <br><br>
          </div>

    <div class="" align="center">
        <br>


        <div class="col">
            <a  href="{% url 'profile_image_view' user_p.user.pk %}">
            <img src={{user_p.image.url}} alt="..." width="120" height="120"
                 class="circle"></a><br>
            <b><font style="color: #000000; font-size: 20px;">{{user_p.full_name}}</font></b><br>
            <b><font style="color: #515152; font-size: 15px;">{{user_p.profession}}</font></b>
            <div class=" " align="center">
                <b><font color="black"> ({{ user_p.dept }}) </font>
                    <font color="black"> {{ user_p.school }} </font></b><br>
                <!--<font color="#1f011f"><b>Call</b> {{user_p.phone}} </font><br>-->

            </div>


        </div>

           <div class="center">
                 <a href="{% url 'chat_page' user_p.pk %}"> <font style="color:white; font-size:20px;"
                  class="chip valign-wrapper  #f4511e deep-orange darken-1 white  waves-light">
                 <i class="material-icons" style="font-size: 15px; text-decoration: none; color: #ffffff">message</i>
                  Chat
                </font></a>

             <a href="tel:{{ user_p.phone }}" target="_blank"> <font style="color:white; font-size:20px;"
                  class="chip valign  #004d40 teal darken-4 white waves-light">
                  <i class="material-icons" style="font-size: 15px; text-decoration: none; color: #ffffff">call</i>
                    Call
                </font></a>

            </div>
        <br>
        <div class="container" align="center">

            <table align="center">

                <tbody>
                <tr>
                    <td>
                        <a href="">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{posts.count}}</b> <br> Posts </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followers' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.follower.count }}</b> <br>
                                    Followers </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followings' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.following.count }}</b> <br>
                                    Following </font>
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>


            <br>

            </div>

        </div>

          <div class="center">
            {% if posts %}
                 <div class="row" style="padding:5px;" >
            {% for posts in posts %}
                <div class="col" style="padding:2px;">
                    {% if posts.file.url|slice:"-4:" == ".mp4" %}
                  <a href="{% url 'comment_view' posts.pk %}">
                <i class="material-icons left" style="margin-left:4px; margin-top:4px; color:#fff5fa; font-size: 30px; position: absolute; ">play_circle_outline</i>
                    <img class="" src="{{ MEDIA_URL }}/media/media/Post_thumbnail/{{posts.pk}}.jpg" style="width: 110px; height:110px">
                  </a>
                {% else %}
                <a href="{% url 'comment_view' posts.pk %}">
                <i class="material-icons left" style="margin-left:4px; margin-top:4px; color:#fff5fa; font-size: 30px; position: absolute;">photo</i>
                 <img class="" src={{posts.file.url}} style="width: 110px; height:110px">
                </a>
                {% endif %}
                </div>

            {% endfor %}
            </div>
            {% else %}

            <h4><b>{{user_p.user}} haven't created any Post Yet!!!</b></h4>
            {% endif %}
        </div>
       </div>

       {% endfor%}




    </div>



{% endblock %}