{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="content" style="background-color: #ffffff;">

    <div class="" align="center">
        <br>
        {% for user_p in user_p %}

        <div class="col">
            <a  href="{% url 'profile_image_view' user_p.user.pk %}">
            <img src={{user_p.image.url}} alt="..." width="120" height="120"
                 class="circle"></a><br>
            <b><font style="color: #000000; font-size: 20px;">{{user_p.user}}</font></b><br>
            <b><font style="color: #515152; font-size: 15px;">{{user_p.profession}}</font></b>
            <div class=" " align="center">
                <b><font color="black"> ({{ user_p.dept }}) </font>
                    <font color="black"> {{ user_p.school }} </font></b><br>
                <!--<font color="#1f011f"><b>Call</b> {{user_p.phone}} </font><br>-->

            </div>
            <br>

        </div>
        <br>
        <div class="container" align="center">

            <table align="center">

                <tbody>
                <tr>
                    <td>
                        <a href="">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{posts.count}}</b> <br> Posts </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followers' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.follower.count }}</b> <br>
                                    Followers </font>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'followings' user_p.user.pk %}">
                            <div class="center">
                                <font color="black" style="font-size: 15px;"> <b>{{ user_p.following.count }}</b> <br>
                                    Following </font>
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>


            <br>
            <div class="">
                <div class="row valign-wrapper">
                    <div class="" style="margin-left:5px;">
                        {% if user in user_p.follower.all%}
                        <a href="{% url 'unfollow' user_p.user.pk %}" style="font-size: 12px;"
                           class="waves-light btn #bbdefb blue lighten-3">Unfollow</a>
                        {% else %}
                        <a onclick="myFollow({{user_p.user.pk}});" id="{{user_p.user.pk}}"
                           class=" waves-light btn secondary-content #1565c0 blue darken-1">Follow</a>
                        <script>
        function myFollow(user_p_user_pk) {
       console.log(user_p_user_pk);
       $.ajax({type: "GET",
        url: "{% url 'follow' %}",
        data: {
            "pk": user_p_user_pk
        },
        dataType: "json",
        success: function (data) {
            // any process in data
            console.log(data);
            if (data.followed) {
            console.log("followed");
            M.toast({html: 'Account followed !'})
                //$('#product-'+product).fadeOut;
            var el_follow = document.getElementById(user_p_user_pk)
            el_follow.innerHTML = "unfollow";
            }
           if (data.unfollowed) {
              console.log("unfollowed");
              M.toast({html: 'Account unfollowed !'})
            var el_follow = document.getElementById(user_p_user_pk)
            el_follow.innerHTML = "follow";

            }

        },
        failure: function () {
            console.log("failure");
        }
 });
 }

                        </script>
                        {% endif %}
                    </div>
                    <div class="" style="margin-left:5px;">
                        <a href="{% url 'chat_page' user_p.user.pk %}" style="font-size: 12px;"
                           class="#1565c0 blue darken-1 btn">Message<i
                                class="material-icons left" style="font-size: 20px;">send</i></a>
                    </div>

                    <div class="" style="margin-left:5px;">
                        <a href="tel:{{ user_p.phone}}" style="font-size: 12px;"
                           class="#1565c0 blue darken-1 btn">Call<i
                                class="material-icons left" style="font-size: 20px;">call</i></a>
                    </div>
                </div>
                <br>

                {% if posts %}
                {% for posts in posts %}
                <div style="background-color: #ffffff;">
                    <br>
                    <div class="space">
                        <div class="">
                            <b>{{ posts.caption}}</b>
                        </div>
                        {% if posts.file.url|slice:"-4:" == ".mp4" %}
                   <video class="responsive-video" controls="controls" poster="{{ MEDIA_URL }}/media/media/Post_thumbnail/{{posts.pk}}.jpg">

                        <source src="{{posts.file.url}}" type="video/mp4" style="max-width: 100%;">

                    </video>
                        {% else %}
                        <img class="responsive-img" src={{posts.file.url}} style="max-width: 100%;">
                        {% endif %}
                    </div>
                    <br>
                    <div class="row valign-wrapper">
                        <div class="col s15">

                            {% if user in posts.like.all%}

                            <i id="unlike{{posts.pk}}" class="material-icons" onclick="myFunction({{posts.pk}});"
                               style="font-size: 30px;  color: red;">favorite</i>

                            {% else %}

                            <i id="{{posts.pk}}" class="material-icons" onclick="myFunction({{posts.pk}});"
                               style="font-size: 30px; text-decoration: none; color: #292929">favorite</i>

                            {% endif %}

                            <script>
        function myFunction(posts_pk) {
       console.log(posts_pk);
       $.ajax({type: "GET",
        url: "{% url 'like' %}",
        data: {
            "pk": posts_pk
        },
        dataType: "json",
        success: function (data) {
            // any process in data
            console.log(data);
            if (data.liked) {
            console.log("likeeeeeeeeeeee");
            M.toast({html: 'post liked !'})
                //$('#product-'+product).fadeOut;
            var el_like = document.getElementById(posts_pk)
            el_like.style.color = "red";
            }
           if (data.unliked) {
              console.log("unlikeeeeeeeeeeee");
              M.toast({html: 'post unliked !'})
              var el_like = document.getElementById(posts_pk)
              el_like.style.color = "#292929";

            }

        },
        failure: function () {
            console.log("failure");
        }
 });
 }

                            </script>
                        </div>

                        <div class="col s15">
                            <a href="{% url 'comment_view' posts.pk %}">
                                <i class="material-icons"
                                   style="font-size: 30px;  text-decoration: none; color: #292929">comment</i>
                            </a>
                        </div>

                        <div class="col s15">
                            <a href="{% url 'chat_page' posts.user.pk %}">
                                <i class="material-icons"
                                   style="font-size: 30px; text-decoration: none; color: #292929">send</i>
                            </a>
                        </div>

                        <div class="col s1">
                            <a href="{{posts.file.url}}" class="pull-right" download>
                                <i class="material-icons right"
                                   style="font-size: 30px; text-decoration: none; color: #292929">file_download</i>
                            </a>
                        </div>

                    </div>

                    <div class="row valign-wrapper">
                        <div class="col s15">
                            <a href="{% url 'likes' posts.pk %}">
                                <b style="color: black;">{{posts.like.count}} likes</b>
                            </a>
                        </div>

                        <div class="col s15">
                            <a href="{% url 'comment_view' posts.pk %}">
                                <p><font color="gray">View 200 comments</font></p>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="container">
                        comments....
                     </div>-->

                    <div class="row valign-wrapper">
                        <div class="col s15">
                            <img src={{profile.image.url}}
                                 width="30px"
                                 alt="" class="circle">
                        </div>

                        <div class="col s15 chip">
                            <p><font color="gray">Add a comment...</font></p>
                        </div>
                        <br>
                        <div class="col s4">
                            <p class="right"><font color="gray">{{posts.timestamp|date:"D d M Y" }}</font></p>
                        </div>
                    </div>

                </div>
                {% endfor %}
                {% else %}

                <h2><b>{{user_p.user.username}} you haven't created any Post Yet!!!</b></h2>
                {% endif %}


            </div>

        </div>
    </div>
    {% endfor%}
</div>


{% endblock %}